<script>
	import katex from 'katex';

	export let label;

	const render = (node) => {
		katex.render(node.textContent, node, {
			displayMode: true,
			output: 'mathml',
			throwOnError: false
		});
	};
</script>

<h4>{label}</h4>
<p use:render><slot /></p>
