<script>
	import '../global.css';
	import StechzylinderLagerungsdichte from '../exercises/Stechzylinder.svelte';
	import Wassermenge from "../exercises/Wassermenge.svelte";
	import Matrixpotenzial from '../exercises/Matrixpotenzial.svelte';
	import Leitfaehigkeit from '../exercises/Leitfaehigkeit.svelte';
	import Feuchtefront from '../exercises/Feuchtefront.svelte';
	import Infiltration from '../exercises/Infiltration.svelte';
</script>

<header>
	<h1>Pedosphäre-II-Trainer</h1>
</header>

<main>
	<StechzylinderLagerungsdichte />
	<Wassermenge />
	<Matrixpotenzial />
	<Leitfaehigkeit />
	<Feuchtefront />
	<Infiltration />
</main>
