<script>
	import { formatNumber } from '../highscore';

	export let solution;
	export let step = 0.01;
	export let unit = '';

	const fractionDigits = -Math.round(Math.log10(step));

	let answer;
	let correct;

	const checkAnswer = (event) => {
		event.preventDefault();
		correct =
			formatNumber(answer, unit, fractionDigits) === formatNumber(solution, unit, fractionDigits);
	};

	const reset = () => {
		correct = null;
	};

	const scrollIntoView = (node) => {
		node.scrollIntoView();
		if (correct) {
			window.scrollBy(0, -100);
		} else {
			window.scrollBy(0, -170);
		}
	};
</script>

<form on:submit={checkAnswer}>
	<input type="number" bind:value={answer} {step} min={step} lang="de-de" />
	{unit}
	<button type="submit">OK</button>
</form>

{#if correct === true}
	<p class="correct" use:scrollIntoView>
		Das ist richtig! <button class="close" on:click={reset}>x</button>
	</p>
{/if}

{#if correct === false}
	<div class="column">
		<p class="wrong">Das ist leider falsch! <button class="close" on:click={reset}>x</button></p>

		<details use:scrollIntoView>
			<summary><h3>Lösung</h3></summary>
			{formatNumber(solution, unit, fractionDigits)}
		</details>
	</div>
{/if}

<style>
	.column {
		width: 20em;
	}

	button {
		cursor: pointer;
		font-size: 120%;
		margin-left: 1em;
	}

	input {
		font-size: 120%;
		padding: 0.5em;
		width: 5em;
	}

	.correct,
	.wrong {
		background: var(--light-color);
		border: 1px solid var(--dark-color);
		border-radius: 0.5em;
		display: flex;
		justify-content: space-between;
		padding: 0.5em;
	}

	.correct {
		--dark-color: green;
		--light-color: lightgreen;
	}

	.wrong {
		--dark-color: red;
		--light-color: lightcoral;
	}

	.close {
		background: inherit;
		border: 1px solid var(--dark-color);
		border-radius: 2ex;
		color: var(--dark-color);
		font-size: 100%;
		height: 3ex;
		text-align: center;
		width: 3ex;
	}

	.close:hover {
		background: var(--dark-color);
		color: var(--light-color);
	}
</style>
