<script>
	import { createFeuchtefront } from '../models/Feuchtefront';
	import { formatNumber } from '../highscore';
	import Answer from './Answer.svelte';
	import FormulaContainer from '../formulas/FormulaContainer.svelte';
	import Formula from '../formulas/Formula.svelte';

	const {
		feuchtefrontInCm,
		finalerVolumetrischerLuftgehalt,
		finalerVolumetrischerWassergehalt,
		initialerVolumetrischerWassergehalt,
		lagerungsdichteInGProCm3,
		niederschlagInMm
	} = createFeuchtefront();
</script>

<section>
	<h2>Feuchtefront</h2>

	<p>
		Ein Boden mit Lagerungsdichte {formatNumber(lagerungsdichteInGProCm3, 'g/cm³')} hat einen volumetrischen
		Wassergehalt von {formatNumber(initialerVolumetrischerWassergehalt)}. Nach einem Niederschlag
		von {formatNumber(niederschlagInMm, 'mm', 0)} ist der volumetrische Luftgehalt im Boden {formatNumber(
			finalerVolumetrischerLuftgehalt
		)}.
	</p>

	<p>Wie groß ist der volumetrische Wassergehalt nach dem Niederschlag?</p>

	<Answer solution={finalerVolumetrischerWassergehalt} />

	<p>Wie tief ist der Niederschlag in den Boden eingedrungen?</p>

	<Answer solution={feuchtefrontInCm} unit="cm" step={1} />

	<FormulaContainer>
		<Formula label="Green-Ampt-Modell">
			{String.raw`
				\begin{equation}\begin{split}
					\epsilon =& 1 - \frac{\rho_b}{\rho_s} = \theta_w + \theta_a \\
					~ \\
					& \epsilon :~ \text{Porosität} \\
					& \rho_b :~ \text{Lagerungsdichte} \\
					& \rho_s :~ \text{Festsubstanzdichte} \\
					& \theta_w :~ \text{Wassergehalt} \\
					& \theta_a :~ \text{Luftgehalt} \\
					~ \\
					\Delta\theta =& \theta_o - \theta_i
					~ \\
					& \Delta\theta :~ \text{Wassergehaltsänderung} \\
					& \theta_i :~ \text{initialer Wassergehalt} \\
					& \theta_o :~ \text{finaler Wassergehalt} \\
					~ \\
					I =& \Delta\theta \cdot L
					~ \\
					& I :~ \text{Infiltrationsmenge in mm = L/m²} \\
					& \Delta\theta :~ \text{Wassergehaltsänderung} \\
					& L :~ \text{Tiefe der Feuchtefront in cm = 0,1 mm}
				\end{split}\end{equation}
		`}
		</Formula>
	</FormulaContainer>
</section>
