<script>
	import Answer from './Answer.svelte';
	import { createInfiltration } from '../models/Infiltration';
	import { formatNumber } from '../highscore';
	import FormulaContainer from '../formulas/FormulaContainer.svelte';
	import Formula from '../formulas/Formula.svelte';
	const {
		abstandsgeschwindigkeitInMmProTag,
		infiltrationsrateInMmProTag,
		lagerungsdichteInGProCm3,
		retardierungsfaktor,
		verlagerungsgeschwindigkeitInMmProTag,
		verteilungskoeffizientInCm3ProG,
		volumetrischerWassergehalt
	} = createInfiltration();
</script>

<section>
	<h2>Infiltration</h2>

	<p>
		Auf einen Boden mit Lagerungsdichte {formatNumber(lagerungsdichteInGProCm3, 'g/cm³')} und Wassergehalt
		{formatNumber(volumetrischerWassergehalt)} wird ein linear-reversibel sorbierender Stoff aufgebracht.
		Der Verteilungskoeffizient liegt bei {formatNumber(verteilungskoeffizientInCm3ProG, 'cm³/g')}.
	</p>

	<p>Wie groß ist der Retardierungsfaktor?</p>
	<Answer solution={retardierungsfaktor} step={1} />

	<p>
		Wie groß ist die Abstandssgeschwindikeit bei einer Infiltrationsrate von {formatNumber(
			infiltrationsrateInMmProTag,
			'mm/d',
			0
		)}?
	</p>
	<Answer solution={abstandsgeschwindigkeitInMmProTag} step={1} unit="mm/d" />

	<p>Wie groß ist die Verlagerungsgeschwindikeit?</p>
	<Answer solution={verlagerungsgeschwindigkeitInMmProTag} step={1} unit="mm/d" />

	<FormulaContainer>
		<Formula label="Abstandsgeschwindigkeit">
			{String.raw`
				\begin{equation}\begin{split}
					v =& \frac{q}{\theta_w} \\
					~ \\
					& q :~ \text{Infiltrationsrate in mm/d} \\
					& \theta_w :~ \text{Wassergehalt}
				\end{split}\end{equation}
		`}
		</Formula>

		<Formula label="Retardierungsfaktor (linear-reversibel sorbierend)">
			{String.raw`
				\begin{equation}\begin{split}
					R =& 1 + \frac{\rho_b}{\theta_w} \cdot k_d \\
					~ \\
					& \rho_b :~ \text{Lagerungsdichte in g/cm³} \\
					& \theta_w :~ \text{Wassergehalt} \\
					& k_d :~ \text{Verteilungskoeffizient in cm³/g}
				\end{split}\end{equation}
		`}
		</Formula>

		<Formula label="Verlagerungssgeschwindigkeit">
			{String.raw`
				\begin{equation}\begin{split}
					R =& \frac{v}{v_\text{solute}} \\
					\implies v_\text{solute} =& \frac{v}{R} \\
					~ \\
					& R :~ \text{Retardierungsfaktor} \\
					& v :~ \text{Abstandsgeschwindigkeit in mm/d}
				\end{split}\end{equation}
		`}
		</Formula>
	</FormulaContainer>
</section>
