<script>
	import { createBodensaeule } from '../models/Bodensaeule';
	import { createHorizont } from '../models/Horizont';
	import { formatNumber, harmonicMean } from '../highscore';
	import Answer from './Answer.svelte';
	import FormulaContainer from '../formulas/FormulaContainer.svelte';
	import Formula from '../formulas/Formula.svelte';

	const Ap = createHorizont('Ap');
	const Bv = createHorizont('Bv');
	const alleHorizonte = [Ap, Bv];
	const geschichteteLeitfaehigkeitInCmProTag = harmonicMean(
		alleHorizonte,
		({ wasserLeitfaehigkeitInCmProTag }) => wasserLeitfaehigkeitInCmProTag,
		({ maechtigkeitInCm }) => maechtigkeitInCm
	);

	const bodensaeule = createBodensaeule();
	const { matrix, makroporen } = bodensaeule;
</script>

<section>
	<h2>Leitfähigkeit im geschichteten System</h2>

	<p>
		In einem {Ap.name}-Horizont mit Mächtigkeit {formatNumber(Ap.maechtigkeitInCm, 'cm', 0)} beträgt
		die gesättigte Leitfähigkeit {formatNumber(Ap.wasserLeitfaehigkeitInCmProTag, 'cm/d', 0)}. Im {formatNumber(
			Bv.maechtigkeitInCm,
			'cm',
			0
		)} mächtigen {Bv.name}-Horizont darunter liegt sie bei {formatNumber(
			Bv.wasserLeitfaehigkeitInCmProTag,
			'cm/d',
			0
		)}.
	</p>

	<p>Wie groß ist die effektive Leitfähigkeit beider Horizonte?</p>

	<Answer solution={geschichteteLeitfaehigkeitInCmProTag} unit="cm/d" step={1} />

	<h2>Leitfähigkeit im porösen System</h2>

	<p>
		Eine Bodensäule mit der Oberfläche {formatNumber(bodensaeule.oberflaecheInCm2, 'cm²', 0)} besteht
		zu {formatNumber(makroporen.anteilInProzent, '%', 0)} aus Makroporen mit der Leitfähigkeit
		{formatNumber(makroporen.wasserLeitfaehigkeitInCmProTag, 'cm/d', 0)}. In der Bodenmatrix beträgt
		die gesättigte Leitfähigkeit {formatNumber(matrix.wasserLeitfaehigkeitInCmProTag, 'cm/d', 0)}.
	</p>

	<p>Wie groß ist die effektive Leitfähigkeit der gesamten Bodensäule?</p>

	<Answer solution={bodensaeule.wasserLeitfaehigkeitInCmProTag} unit="cm/d" step={1} />

	<FormulaContainer>
		<Formula label="Geschichtetes System (harmonisches Mittel)">
			{String.raw`
				\begin{equation}\begin{split}
					K_{s,\text{eff}} =& \frac{L_\text{ges}}{\frac{L_1}{K_{s,1}} + \frac{L_2}{K_{s,2}} + \ldots + \frac{L_n}{K_{s,n}}}
					= \frac{\sum\limits_{i=1}^n L_i}{\sum\limits_{i=1}^n \frac{L_i}{K_{s,i}}}\\
					~ \\
					& L_i :~ \text{Mächtigkeit von Horizont i in cm} \\
					& K_{s,i} :~ \text{gesättigte Leitfähigkeit von Horizont i in cm}
				\end{split}\end{equation}
		`}
		</Formula>

		<Formula label="Poröses System (arithmetisches Mittel)">
			{String.raw`
				\begin{equation}\begin{split}
					K_{s,\text{eff}} =& \frac{1}{\sum\limits_{i=1}^n A_i} \cdot \sum\limits_{i=1}^n A_i \cdot K_{s,i}\\
					~ \\
					& A_i :~ \text{Querschnittsfläche von Anteil i in cm\(^2\)} \\
					& K_{s,i} :~ \text{gesättigte Leitfähigkeit von Anteil i in cm}
				\end{split}\end{equation}
		`}
		</Formula>
	</FormulaContainer>
</section>
