<script>
	import { createPF } from '../models/pF';
	import { formatNumber } from '../highscore';
	import Answer from './Answer.svelte';
	import FormulaContainer from '../formulas/FormulaContainer.svelte';
	import Formula from '../formulas/Formula.svelte';

	const values = [...new Array(5)].map(createPF)
</script>

<section>
	<h2>pF-Werte</h2>

	<p>Wie groß ist der pF-Wert für ein Matrixpotential von {formatNumber(values[0].matrixpotenzialInCm, 'cm')}?</p>
	<Answer solution={values[0].pF} />

	<p>Wie groß ist der pF-Wert für ein chemisches Potential von {formatNumber(values[1].chemischesPotenzialInJProKg, 'J/kg')}?</p>
	<Answer solution={values[1].pF} />

	<p>Wie groß ist der pF-Wert für einen Druck von {formatNumber(values[2].druckInhPa, 'hPa')}?</p>
	<Answer solution={values[2].pF} />

	<FormulaContainer>
		<Formula label="pF">
			{String.raw`
				\begin{equation}\begin{split}
					pF =& \log_{10}(-h) \\ ~ \\
					& h :~ \text{Matrixpotential in cm}
				\end{split}\end{equation}
		`}
		</Formula>

		<Formula label="Chemisches Potenzial">
			{String.raw`
				\begin{equation}\begin{split}
					\mu =& \frac{E}{M} = h \cdot g\\
					~ \\
					& E :~ \text{Energie in J} = \tfrac{\text{kg} \cdot \text{m}^2}{\text{s}^2} \\
					& M :~ \text{Masse in kg} \\
					& h :~ \text{Matrixpotential in cm} \\
					& g :~ \text{Erdbeschleunigung} ~\left(\approx 9,81 \text{m} / \text{s}^2\right)
				\end{split}\end{equation}
		`}
		</Formula>

		<Formula label="Druck">
			{String.raw`
				\begin{equation}\begin{split}
					p =& \frac{E}{V} = \rho_W \cdot h \cdot g\\
					~ \\
					& E :~ \text{Energie in J}
					= \tfrac{\text{kg} \cdot \text{m}^2}{\text{s}^2}
					= \text{Pa} \cdot \text{m³} \\
					& V :~ \text{Volumen in m³} \\
					& \rho_W :~ \text{Wasserdichte} ~\left(\approx 1~\text{g} / \text{cm}^{3}\right) \\
					& h :~ \text{Matrixpotential in cm} \\
					& g :~ \text{Erdbeschleunigung} ~\left(\approx 9,81 \text{m} / \text{s}^2\right)
				\end{split}\end{equation}
		`}
		</Formula>
	</FormulaContainer>
</section>
