<script>
	import { createStechzylinderProbe } from '../models/StechzylinderProbe.ts';
	import { formatNumber } from '../highscore';
	import Answer from './Answer.svelte';
	import Formula from '../formulas/Formula.svelte';
	import FormulaContainer from '../formulas/FormulaContainer.svelte';

	const {
		festsubstanzdichteInGProCm3,
		feuchtMasseInG,
		lagerungsdichteInGProCm3,
		porositaet,
		trockenMasseInG,
		volumenInCm3,
		volumetrischerLuftgehalt,
		volumetrischerWassergehalt
	} = createStechzylinderProbe();
</script>

<section>
	<h2>Lagerungsdichte, Wassergehalt, Porosität</h2>

	<p>
		Es wird eine Bodenprobe aus einem Stechzylinder mit Volumen {formatNumber(volumenInCm3, 'cm³')} genommen.
		Die Masse der frischen Probe beträgt {formatNumber(feuchtMasseInG, 'g')}. Nach dem Trocknen bei
		105°C ist sie auf {formatNumber(trockenMasseInG, 'g')} reduziert.
	</p>

	<p>Wie groß ist die Lagerungsdichte?</p>
	<Answer solution={lagerungsdichteInGProCm3} unit="g/m³" />

	<p>Wie groß ist der volumetrische Wassergehalt?</p>
	<Answer solution={volumetrischerWassergehalt} />

	<p>
		Wie groß ist die Porosität bei einer Festsubstanzdichte von {formatNumber(
			festsubstanzdichteInGProCm3,
			'g/cm³'
		)}?
	</p>
	<Answer solution={porositaet} unit="" />

	<p>Wie groß ist der Luftgehalt?</p>
	<Answer solution={volumetrischerLuftgehalt} />

	<FormulaContainer>
		<Formula label="Lagerungsdichte">
			{String.raw`
				\begin{equation}\begin{split}
					\rho_b =& \frac{m_s}{V_b} \\
					~ \\
					& V_b :~ \text{Bodenvolumen} \\
					& m_s :~ \text{Trockenmasse}
				\end{split}\end{equation}
		`}
		</Formula>

		<Formula label="Porosität">
			{String.raw`
				\begin{equation}\begin{split}
					\epsilon =& \frac{V_p}{V_b} = 1 - \frac{\rho_b}{\rho_s} \\
					~ \\
					& V_p :~ \text{Porenvolumen} \\
					& V_b :~ \text{Bodenvolumen} \\
					& \rho_b :~ \text{Lagerungsdichte} \\
					& \rho_s :~ \text{Festsubstanzdichte}
				\end{split}\end{equation}
		`}
		</Formula>

		<Formula label="Volumetrischer Wassergehalt">
			{String.raw`
				\begin{equation}\begin{split}
					\theta =& \frac{V_W}{V_b}
					= 1 - \frac{\rho_W \cdot m_W}{V_b} \\
					~ \\
					& V_W :~ \text{Wasservolumen} \\
					& V_b :~ \text{Bodenvolumen} \\
					& \rho_W :~ \text{Wasserdichte} ~\left(\approx 1~\text{g} / \text{cm}^{3}\right) \\
					& m_W :~ \text{Wassermasse}
				\end{split}\end{equation}
		`}
		</Formula>

		<Formula label="Volumetrischer Luftgehalt">
			{String.raw`
				\begin{equation}\begin{split}
					\epsilon =& \theta_w + \theta_a \\
					\implies \theta_a &= \epsilon - \theta_w
					~ \\
					& \epsilon :~ \text{Porosität} \\
					& \theta_a :~ \text{Luftgehalt} \\
					& \theta_w :~ \text{Wassergehalt}
				\end{split}\end{equation}
		`}
		</Formula>
	</FormulaContainer>
</section>
