<script>
	import { first, formatNumber, last, sum } from '../highscore';
	import Answer from './Answer.svelte';
	import { createBodentyp } from '../models/Bodentyp';
	import { createHorizont } from '../models/Horizont';
	import Formula from '../formulas/Formula.svelte';
	import FormulaContainer from '../formulas/FormulaContainer.svelte';

	const { horizontNamen } = createBodentyp();
	const alleHorizonte = Object.fromEntries(
		horizontNamen.map((name) => [name, createHorizont(name)])
	);
	const ersterHorizont = alleHorizonte[first(horizontNamen)];
	const letzterHorizont = alleHorizonte[last(horizontNamen)];
	const mittlereHorizonte = horizontNamen
		.filter((name) => name !== first(horizontNamen) && name !== last(horizontNamen))
		.map((name) => alleHorizonte[name]);
	const gesamtMaechtigkeitInCm = sum(
		Object.values(alleHorizonte).map(({ maechtigkeitInCm }) => maechtigkeitInCm)
	);
	const gesamtWassermengeInMm = sum(
		Object.values(alleHorizonte).map(({ wasserMengeInMm }) => wasserMengeInMm)
	);
	debugger;
</script>

<section>
	<h2>Wassermenge</h2>

	<p>
		In einem Profil der Tiefe {formatNumber(gesamtMaechtigkeitInCm, 'cm', 0)} werden folgende Horizonte
		bestimmt: {horizontNamen.join(', ')}. Der erste Horizont enthält eine Wassermenge von {formatNumber(
			ersterHorizont.wasserMengeInMm,
			'mm'
		)} bei einem volumetrischen Wassergehalt von {formatNumber(
			ersterHorizont.volumetrischeWassergehalt
		)}.
		{#each mittlereHorizonte as horizont}
			Der {horizont.name}-Horizont hat eine Mächtigkeit von {formatNumber(
				horizont.maechtigkeitInCm,
				'cm',
				0
			)} und einen volumetrischen Wassergehalt von {formatNumber(
				horizont.volumetrischeWassergehalt
			)}.
		{/each}
		Der letzte Horizont hat einen volumetrischen Wassergehalt von {formatNumber(
			letzterHorizont.volumetrischeWassergehalt
		)}.
	</p>

	<p>Wie groß ist die Wassermenge vom letzten Horizont?</p>
	<Answer solution={letzterHorizont.wasserMengeInMm} unit="mm" />

	<p>Wie groß ist die gesamte Wassermenge?</p>
	<Answer solution={gesamtWassermengeInMm} unit="mm" />

	<p>Wie viel ist das in Litern pro Kubikmeter?</p>
	<Answer solution={gesamtWassermengeInMm} unit="l/m³" />

	<FormulaContainer>
		<Formula label="Wassermenge">
			{String.raw`
				\begin{equation}\begin{split}
					L_{w, i} =& \theta_i \cdot L_i \\ ~ \\
					& \theta_i :~ \text{volumetrischer Wassergehalt in Horizont i} \\
					& L_i :~ \text{Mächtigkeit von Horizont i}
				\end{split}\end{equation}
		`}
		</Formula>
	</FormulaContainer>
</section>
