details {
    border: 1px solid black;
    border-radius: 0.5em;
    display: inline-block;
    padding: 0.5em;
}

details:hover:not([open]) {
    background-color: lightskyblue;
}

details summary h3 {
    display: inline;
}

details summary {
    cursor: pointer;
}

details[open] summary {
    margin-bottom: 0.5em;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

header {
    display: flex;
}

header h1 {
    margin: 2ex auto;
}

main {
    display: flex;
    flex-wrap: wrap;
}

p {
    line-height: 3ex;
}

section {
    border-bottom: 1px solid darkgrey;
    margin: 0 auto 2em;
    padding-bottom: 2em;
    width: 50em;
}

.column {
    display: flex;
    flex-direction: column;
}
